.mainRegisterWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 50px;
}

.create{
    margin-top: 30px;
    font-size: 25px;
    
}

.formGroup{
    margin-top: 30px;
    font-size: 18px;
}

input{
    outline: none;
    width: 360px;
    height: 40px;
    font-size: 16px;
    border: 1px solid silver;
    border-radius: 4px;
    padding-left: 10px;
}

.continue{
    margin-top: 30px;
}

.continue button{
    background-color: #160769;
    width: 360px;
    height: 40px;
    outline: none;
    color: #fff;
    border: transparent;
    font-size: 18px;
    cursor: pointer;
}

.or{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
}

.google{
    border: 2px solid #160769;
    width: 360px;
    height: 40px;
    outline: none;
    /* color: #fff; */
    /* border: transparent; */
    font-size: 18px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
}

.already{
    margin-top: 30px;
    text-align: center;
}
